<div class="p-grid ">
    <!-- <div class="p-col">
        <div class="p-grid"> -->
    <div class="p-grid">
        <div class="p-col-1 pt-2">
            <label class="text-truncate mb-0">
                Código
              </label>

            <input id="codigo" type="text" pInputText>

        </div>

        <div class="p-col-2" style="padding: 2.5em">
            <p-checkbox name="group1" label="Estrangeiro" inputId="est"></p-checkbox>
        </div>

        <div class="p-col-2">
            <label class="text-truncate mb-0">
                CNPJ/CPF *
              </label>
            <input id="input" formControlName="cnpjcpf" type="text" pInputText>

        </div>

        <div class="p-col-2">
            <label class="text-truncate mb-0">
             Situação
            </label>
            <input id="input" type="text" pInputText>

        </div>

        <div class="p-col-2">
            <label class="text-truncate mb-0">
                Pesquisado em
              </label>
            <input id="input" type="text" pInputText>

        </div>

        <div class="p-col-2">
            <label class="text-truncate mb-0">
                Tipo *
              </label>
            <input id="input" formControlName="tipo" type="text" pInputText>
        </div>
    </div>
    <!-- ------------------------------------------------------------------ -->

    <div class="p-col-4">
        <label class="text-truncate mb-0">
                Razão Social/Nome *
              </label>
        <input id="input" type="text" pInputText>
    </div>

    <div class="p-col-4">
        <label class="text-truncate mb-0">
                Nome Fantasia *
              </label>

        <input id="input" formControlName="nomeFantasia" type="text" pInputText>
    </div>
    <!-- </div>

    </div> -->
    <!-- ------------------------------------------------------------------------------------------- -->
    <div class="p-grid">
        <div class="p-col-12">

            <h5 style="margin-top:15px;">Endereço Principal</h5>
        </div>
    </div>
    <!-- ------------------------------------------------------------------------------------------- -->
    <div class="p-grid">
        <div class="p-col-2">
            <label class="text-truncate mb-0">
            CEP *
          </label>

            <input id="input" formControlName="cep" type="text" pInputText>
        </div>
        <div class="p-col-2">
            <label class="text-truncate mb-0">
            Endereço *
          </label>

            <input id="input" formControlName="endereco" type="text" pInputText>
        </div>
        <div class="p-col-2">
            <label class="text-truncate mb-0">
            Número *
          </label>

            <input id="input" type="text" pInputText>
        </div>
        <div class="p-col-2">
            <label class="text-truncate mb-0">
            Complemento
          </label>

            <input id="input" type="text" pInputText>
        </div>

    </div>

</div>